body.home_page {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../static/images/home-page.png') no-repeat center center/cover;
    font-family: Arial, sans-serif;
}

.home-container {
    justify-items: center;
}

.page-title {
    color: white;
    font-size: 60px;
    font-weight: bolder;
    width: 45%;
    margin: auto;
    text-align: center;
    line-height: normal;
    margin-top: 35px;
}

body.question_answer {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/question-answer.png');
    background-size: cover;
}

.container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 70%;
    overflow: auto;
    max-height: 80vh;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    display: block;
}

button {
    background-color: chocolate;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #E29F6F;
}

.start-button {
    margin-top: 40px;
    font-size: 18px;
}

#response {
    display: none;
    width: 80%;
    text-align: justify;
    margin: auto;
}

#answer {
    color: #333;
}

.list-answer-container{
    text-align: justify;
}


/* Medium screens (tablets, 768px and smaller) */
@media (max-width: 768px) {
    .page-title {
        font-size: 40px;
        width: 70%;
    }

    .start-button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

/* Small screens (phones, 576px and smaller) */
@media (max-width: 576px) {
    /* body {
        background: url('../static/images/home-page.png') no-repeat center center/contain;
    } */

    .page-title {
        font-size: 28px;
        width: 90%;
    }

    .start-button {
        padding: 6px 12px;
        font-size: 14px;
    }
}

/* Extra small screens (phones, 375px and smaller) */
@media (max-width: 375px) {
    .page-title {
        font-size: 24px;
    }

    .start-button {
        padding: 5px 10px;
        font-size: 12px;
    }
}