body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/network.jpg');
    background-size: cover;
}

.container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 70%;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    display: block;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#response {
    display: none;
    width: 80%;
    text-align: justify;
    margin: auto;
}

#answer {
    color: #333;
}

.list-answer-container{
    text-align: justify;
}
