<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question and Answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="home_page">
    <div class="home-container">
        <div class="page-title">Geological Ontology Question and Answer System</div>
        <form action="{{ url_for('question_page') }}" method="GET">
            <button type="submit" class="start-button">Start</button>
        </form>
    </div>
</body>
</html>
